<div class='{{widget.attrs.class}} dropzone'>
  <div class="fallback">
    <input id="{{ widget.attrs.id }}" type="file" name="{{ widget.name }}">
  </div>
</div>

<script id={{widget.attrs.class}}>
  window['{{ widget.attrs.class }}'] = {{ options | safe }}
</script>
